<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter URL Status</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Twitter App</h1>

        <form class="ui form" action="/add" method="post">
            <div class="field">
                <label>Twitter URLs</label>
                <input type="text" name="username" placeholder="Enter Username..."><br>
                <input type="text" name="url" placeholder="Enter URL..."><br>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>

        {% for url in urls %}
        <div class="ui segment">
            <p class="ui big header">{{url[0] }} | {{ url[1] }}</p>
            
            {% if url[2] == 'False' %}
            <span class="ui gray label">Not Complete</span>
            {% else %}
            <span class="ui green label">Completed</span>
            {% endif %}

            <a class="ui blue button" href="/update/{{ url[3] }}">Update</a>
        </div>
        {% endfor %}
    </div>
</body>

</html>